@font-face {
	font-family: "Dancing Script";
	src: url(../../../assets/fonts/DancingScript/DancingScript-VariableFont_wght.ttf);
}

header {
	background: linear-gradient(45deg, #e66465, #9198e5);
	color: white;
	/* position: fixed; */
	/* top: 0; */
	/* right: 0; */
	/* left: 0; */
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
	gap: 40px;
}

header a {
	color: white;
	text-decoration: none;
}

.logo {
	font-family: "Dancing Script";
	font-size: 30px;
	font-weight: 700;
}