@font-face {
	font-family: 'Space Grotesk';
	src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Dancing Script';
	src: url('../assets/fonts/DancingScript/DancingScript-VariableFont_wght.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Space Grotesk';
}

header {
	background: linear-gradient(45deg, #e66465, #9198e5);
	color: white;
	position: fixed;
	width: 100%;
	padding: 15px 20px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
}

header a {
	color: white;
	text-decoration: none;
}

#menu-btn {
	border: none;
	background: none;
	color: white;
	cursor: pointer;
}

header nav {
	position: fixed;
	right: 0;
	background-color: #222629;
	width: 30%;
	height: 100%;
}

.nav-animation-in {
	animation-name: slidein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.nav-animation-out {
	animation-name: slideout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

header nav li {
	display: grid;
	justify-items: center;
	padding: 20px;
}

header nav a {
	color: white;
	font-size: 17px;
	text-decoration: none;
}

header nav ul {
	list-style: none;
	margin: 20px 0;
}

@keyframes slidein {
	to {
		right: 0;
	}
}

main {
	margin-top: 61px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background-color: #2f3538;
	/* background: linear-gradient(45deg, #e66465, #9198e5); */
	color: white;
	/* height: 100vh; */
	gap: 20px;
}

main section {
	/* background-color: #e66465; */
	width: 50%;
	margin: 100px;
}

main form {
	/* background-color: #9198e5; */
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-width: 5px;
	border-style: solid;
	border-image: linear-gradient(45deg, #e66465, #9198e5);
	border-image-slice: 1;
}

main form input {
	border: none;
	width: 100%;
	padding: 10px;
	font-size: 1rem;
}

main form textarea {
	resize: none;
	width: 100%;
	border: none;
	font-size: 1rem;
}

main form button {
	background: none;
	border: none;
	color: white;
	background: linear-gradient(45deg, #e66465, #9198e5);
	/* border-radius: 5px; */
	cursor: pointer;
	padding: 10px 20px;
	font-size: 1.15rem;
}

footer {
	display: grid;
	justify-items: center;
	padding: 20px 0;
	background-color: #222527;
	color: white;
}