@font-face {
	font-family: 'Space Grotesk';
	src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Dancing Script';
	src: url('../assets/fonts/DancingScript/DancingScript-VariableFont_wght.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Space Grotesk';
}

header {
	background: linear-gradient(45deg, #e66465, #9198e5);
	color: white;
	/* position: fixed; */
	width: 100%;
	padding: 15px 20px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
}

header a {
	color: white;
	text-decoration: none;
}

#menu-btn {
	border: none;
	background: none;
	color: white;
	cursor: pointer;
}

header nav {
	position: fixed;
	right: 0;
	background-color: #222629;
	width: 30%;
	height: 100%;
	z-index: 1;
}

.nav-animation-in {
	animation-name: slidein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.nav-animation-out {
	animation-name: slideout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

header nav li {
	display: grid;
	justify-items: center;
	padding: 20px;
}

header nav a {
	color: white;
	font-size: 17px;
	text-decoration: none;
}

header nav ul {
	list-style: none;
	margin: 20px 0;
}

@keyframes slidein {
	to {
		right: 0;
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background-color: #2f3538;
	/* background: linear-gradient(45deg, #e66465, #9198e5); */
	color: white;
	/* height: 100vh; */
	/* margin: 70px 0 0 0; */
	padding: 50px;
	flex-direction: column;
	gap: 50px;
}

.projects {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.projects div {
	position: relative;
}

.projects button {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	background-color: white;
	font-size: 1rem;
	padding: 10px 20px;
	cursor: pointer;
}

@media (max-width:1300px) {
	.projects {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 740px) {
	.projects div {
		display: grid;
		justify-items: center;
	}

	.projects img {
		width: 100%;
	}
}

.details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 40px;
	width: 75%;
	margin: auto;
	text-align: justify;
	gap: 20px;
}

.details div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.projects-btn {
	background: none;
	border: none;
	color: white;
	font-size: 1rem;
	border-width: 5px;
	border-style: solid;
	border-image: linear-gradient(45deg, #e66465, #9198e5);
	border-image-slice: 1;
	padding: 10px 20px;
}

.projects-btn:hover {
	background-color: rgba(255, 255, 255, 0.212);
	cursor: pointer;
}

.social-links {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.social-links a {
	color: white;
	text-decoration: none;
}

.social-links ul {
	list-style: none;
	display: grid;
	gap: 10px;
}

.social-links li {
	/* padding: 5px 10px; */
	/* background-color: white; */
}

.name {
	background: linear-gradient(45deg, #e66465, #9198e5);
	background-clip: text;
	color: transparent;
}

footer {
	display: grid;
	justify-items: center;
	padding: 20px 0;
	background-color: #222527;
	color: white;
}