@font-face {
	font-family: 'Space Grotesk';
	src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Space Grotesk';
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	flex-grow: 1;
	background-color: #353841;
	color: white;
	display: grid;
	place-items: center;
}

p {
	font-size: 2rem;
	text-align: center;
}